body {
  margin: 40px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 244px 244px 244px;
  grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer  footer  footer';
  background-color: #fff;
  color: #444;
}

.box {
  /* background-color: #7c7c88; */
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
}