/* For images - resize as needed but never more than 100% */
img {
  max-width: 100%;
  height: auto;
}

/* For links */
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #939692;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}

body {
  margin: 5px;
}

/* For home page */
.left {
  grid-area: left;  
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

.header {
  grid-area: header;
  text-align: center;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.box {
  padding-left: 3%;
}

.wrapper {  
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 15% 30% 20%;
  grid-template-areas:
    'header header header'
    'left center right'
    'footer  footer  footer';
  justify-content: left;
  background-color: #fff;
  color: #444;
}

/* For PacMen page */


/* For Bus Tracking page */
